/* FONTS */
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Mono&display=swap");
/* GLOBAL VARS */
:root {
    --primaryColor: #f05b51;
    --mainWhite: #fff;
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
    --mainFont: 'IBM Plex Mono', monospace;
  }
  /* GLOBAL SETTINGS */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: var(--mainFont);
  }
  /* NAVBAR */
  .navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgb(19, 18, 18);
    z-index: 1;
  }
